<%= form_for(@promo_channel) do |f| %>
  <% if @promo_channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promo_channel.errors.count, "error") %> prohibited this promo_channel from being saved:</h2>

      <ul>
      <% @promo_channel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
