<p id="notice"><%= notice %></p>

<h1>Listing Promo Channels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promo_channels.each do |promo_channel| %>
      <tr>
        <td><%= promo_channel.name %></td>
        <td><%= link_to 'Show', promo_channel %></td>
        <td><%= link_to 'Edit', edit_promo_channel_path(promo_channel) %></td>
        <td><%= link_to 'Destroy', promo_channel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promo channel', new_promo_channel_path %>
